html, body {
  margin: 0;
  padding: 0;
}
a {
    color: #ccffee;
    font-size: 25px;
}

h1 {
    text-align: center;
}
.costa_rica {
    background-image: url("https://images.unsplash.com/photo-1552727131-5fc6af16796d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60"); 
    background-repeat: no-repeat, repeat; 
    background-position: center;
    background-size: cover;
    margin: 20px 0px;
    color: rgb(214, 235, 233);
    text-align: center;
    padding-top: 60px;
    height: 350px;
}

.north_carolina {
    background-image: url("https://images.unsplash.com/photo-1544970748-a04e01fff99c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60"); 
    background-repeat: no-repeat, repeat; 
    background-position: center;
    background-size: cover;
    margin: 20px 0px;
    color: rgb(214, 235, 233);
    text-align: center;
    padding-top: 60px;
    height: 350px;
}

.labadee {
    background-image: url("https://images.unsplash.com/photo-1554759082-30b58f40f553?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60"); 
    background-repeat: no-repeat, repeat; 
    background-position: center;
    background-size: cover;
    margin: 20px 0px;
    color: rgb(214, 235, 233);
    text-align: center;
    padding-top: 60px;
    height: 350px;
}

.greece {
    background-image: url("https://images.unsplash.com/photo-1560703649-e3055f28bcf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60"); 
    background-repeat: no-repeat, repeat; 
    background-position: center;
    background-size: cover;
    margin: 20px 0px;
    color: rgb(214, 235, 233);
    text-align: center;
    padding-top: 60px;
    height: 350px;
}

#end {
    text-align: end;
}